@{
    ViewData["Title"] = "Artikel";
}

<div class="text-center">
    <h1>Artikel</h1>
</div>

<div class="container">
    <a class="btn btn-primary" asp-controller="Artikel" asp-action="CreateEditArtikel">neuen Artikel anlegen</a>
    <a class="btn btn-primary" asp-controller="Artikel" asp-action="ExportToCSV">Artikel exportieren</a>
    <a class="btn btn-primary" asp-controller="Artikel" asp-action="ImportFromCSV">Artikel importieren</a>
    <table id="ArtikelTable" class="table table-bordered table-striped table-hover bg-light stripe">
        <thead>
            <tr>
                <th>Artikel Nr.</th>
                <th>Name</th>
                <th>Kategorie ID</th>
                <th>Kategorie</th>
                <th>Beschreibung</th>
                <th>Bearbeiten</th>
                <th>Löschen</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Artikel artikel in Model.Artikel)
                {
                    <tr>
                        <td>@artikel.Id</td>
                        <td>@artikel.Name</td>
                        <td>@artikel.KategorieID</td>

                        @foreach (Kategorien kategorien in Model.Kategorien){
                            if (artikel.KategorieID == kategorien.Id)
                            {
                                <td>@kategorien.Bezeichnung</td>
                            }
                        }

                        <td>@artikel.Beschreibung</td>
                        <td><a asp-route-id="@artikel.Id" class="btn btn-warning" asp-controller="Artikel" asp-action="CreateEditArtikel">bearbeiten</a></td>
                        <td><button onclick="onClickedDeleteButton(@artikel.Id)" class="btn btn-danger">löschen</button></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>

        function onClickedDeleteButton(id){
            Swal.fire({
            title: 'Möchtest du den Eintrag wirklich löschen? Achtung: Wenn der Artikel Lagerplätze und / oder Positionen hat werden diese ebenfalls gelöscht!',
            icon: 'error',

            showCloseButton: true,
            focusConfirm: false,
            confirmButtonText:
              'Ja, löschen!',
        }).then((result) => {

              if (result.isConfirmed) {

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DeleteById")",
                    data: {id: id},
                    success: function(msg){

                        Swal.fire('Eintrag wurde gelöscht!', '', 'success').then((result) => {
                                 location.reload();
                        });
                    },
                    error: function(msg){
                        Swal.fire('UPS!', '', 'error')
                    }
                });


              }
        })
        }
    </script>
}