@{
    ViewData["Title"] = "Aufträge";
}

<div class="text-center">
    <h1>Aufträge</h1>
</div>

<div class="container-fluid">
    <p>
        <a class="btn btn-primary" asp-controller="Auftrag" asp-action="CreateEditAuftrag">neuen Auftrag anlegen</a>
        <a class="btn btn-primary" asp-controller="Auftrag" asp-action="ExportToCSV">Aufträge exportieren</a>
        <a class="btn btn-primary" asp-controller="Auftrag" asp-action="ImportFromCSV">Aufträge importieren</a>
    </p>
    <table id="AuftragTable" class="table table-bordered table-striped table-hover bg-light stripe">
        <thead>
            <tr>
                <th>Auftrags Nr.</th>
                <th>Kunden ID</th>
                <th>Firma</th>
                <th>Ansprechpartner</th>
                <th>Standort ID</th>
                <th>Standort Bezeichnung</th>
                <th>Bemerkungen</th>
                <th>Gebucht</th>
                <th>Bearbeiten</th>
                <th>Buchungen</th>
                <th>Auslieferung</th>
                <th>Löschen</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Auftrag Auftrage in Model.Auftrag)
                {
                    <tr>
                        <td>@Auftrage.Id</td>
                        <td>@Auftrage.KundeID</td>

                        @foreach (Kunde kunde in Model.Kunde)
                        {
                            if (kunde.Id == Auftrage.KundeID)
                            {
                                <td>@kunde.Firma</td>
                                <td>@kunde.Ansprechpartner</td>
                            }
                        }

                        @foreach (Standort standort in Model.Standort)
                        {
                            if (standort.Id == Auftrage.StandortID)
                            {
                                <td>@standort.StandortId</td>
                                <td>@standort.Standortbezeichnung</td>
                            }
                        }

                        <td>@Auftrage.Bemerkungen</td>
                        <th>@Auftrage.Gebucht</th>
                        <td><a asp-route-id="@Auftrage.Id" class="btn btn-warning" asp-controller="Auftrag" asp-action="CreateEditAuftrag">bearbeiten</a></td>

                        @if (Auftrage.Gebucht == false)
                        {
                            <td><a asp-route-id="@Auftrage.Id" class="btn btn-warning" asp-controller="Auftrag" asp-action="AuftragBuchen">Auftrag ausbuchen</a></td>
                        }

                        @if (Auftrage.Gebucht == true)
                        {
                            <td><a asp-route-id="@Auftrage.Id" class="btn btn-warning" asp-controller="Auftrag" asp-action="AuftragZurueckBuchen">Auftrag zurück buchen</a></td>
                        }

                        <td><a asp-route-id="@Auftrage.Id" class="btn btn-warning" asp-controller="Auslieferung" asp-action="Ausliefern">ausliefern</a></td>
                        <td><button onclick="onClickedDeleteButton(@Auftrage.Id)" class="btn btn-danger">löschen</button></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#AuftragTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/German.json"
                },
                buttons: [
                    {
                        extend: 'searchBuilder',
                        config: {
                            depthLimit: 2
                        }
                    }
                ],
                dom: 'Bfrtip',
            });
        });

        function onClickedDeleteButton(id) {
            Swal.fire({
                title: 'Möchtest du den Eintrag wirklich löschen? Achtung: Wenn der Auftrag Positionen hat werden diese ebenfalls gelöscht!',
                icon: 'error',

                showCloseButton: true,
                focusConfirm: false,
                confirmButtonText:
                    'Ja, löschen!',
            }).then((result) => {

                if (result.isConfirmed) {

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("DeleteById")",
                        data: { id: id },
                        success: function (msg) {

                            Swal.fire('Eintrag wurde gelöscht!', '', 'success').then((result) => {
                                location.reload();
                            });
                        },
                        error: function (msg) {
                            Swal.fire('UPS!', '', 'error')
                        }
                    });


                }
            })
        }
    </script>
}