@{
    ViewData["Title"] = "Aufträge";
}

<div class="text-center">
    <h1>Aufträge</h1>
</div>

<div class="container">
    <a class="btn btn-primary" asp-controller="Auftrag" asp-action="CreateEditAuftrag">neuen Auftrag anlegen</a>
    <table id="AuftragTable" class="table table-bordered table-striped table-hover bg-light stripe">
        <thead>
            <tr>
                <th>Auftrags Nr.</th>
                <th>Kunden ID</th>
                <th>Firma</th>
                <th>Ansprechpartner</th>
                <th>Bemerkungen</th>
                <th>Gebucht</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Auftrag Auftrage in Model.Auftrag)
                {
                    <tr>
                        <td>@Auftrage.Id</td>
                        <td>@Auftrage.KundeID</td>

                        @foreach (Kunde kunde in Model.Kunde)
                        {
                            if (kunde.Id == Auftrage.KundeID)
                            {
                                <td>@kunde.Firma</td>
                                <td>@kunde.Ansprechpartner</td>
                            }
                        }

                        <td>@Auftrage.Bemerkungen</td>
                        <th>@Auftrage.Gebucht</th>
                        <td><a asp-route-id="@Auftrage.Id" class="btn btn-warning" asp-controller="Auftrag" asp-action="CreateEditAuftrag">bearbeiten</a></td>

                        @if (Auftrage.Gebucht == false)
                        {
                            <td><a asp-route-id="@Auftrage.Id" class="btn btn-warning" asp-controller="Auftrag" asp-action="AuftragBuchen">Auftrag ausbuchen</a></td>
                        }

                        @if (Auftrage.Gebucht == true)
                        {
                            <td><a asp-route-id="@Auftrage.Id" class="btn btn-warning" asp-controller="Auftrag" asp-action="AuftragZurueckBuchen">Auftrag zurück buchen</a></td>
                        }
                        

                    </tr>
                }
            }
        </tbody>
    </table>
</div>