@{
    ViewData["Title"] = "Kategorien";
}

<div class="text-center">
    <h1>Kategorien</h1>
</div>

<div class="container">
    <a class="btn btn-primary" asp-controller="Kategorien" asp-action="CreateEditKategorie">neue Kategorie anlegen</a>
    <table id="KategorieTable" class="table table-bordered table-striped table-hover bg-light stripe">
        <thead>
            <tr>
                <th>Kategorie Nr.</th>
                <th>Bezeichnung</th>
                <th>Farbe</th>
                <th>Bemerkungen</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Kategorien kategorien in Model)
                {
                    <tr>
                        <td>@kategorien.Id</td>
                        <td>@kategorien.Bezeichnung</td>
                        <td>@kategorien.Farbe</td>
                        <td>@kategorien.Bemerkungen</td>
                        <td><a asp-route-id="@kategorien.Id" class="btn btn-warning" asp-controller="Kategorien" asp-action="CreateEditKategorie">bearbeiten</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>