@{
    ViewData["Title"] = "Kategorien";
}

<div class="text-center">
    <h1>Kategorien</h1>
</div>

<div class="container">
    <a class="btn btn-primary" asp-controller="Kategorien" asp-action="CreateEditKategorie">neue Kategorie anlegen</a>
    <a class="btn btn-primary" asp-controller="Kategorien" asp-action="ExportToCSV">Kategorien exportieren</a>
    <table id="KategorieTable" class="table table-bordered table-striped table-hover bg-light stripe">
        <thead>
            <tr>
                <th>Kategorie Nr.</th>
                <th>Bezeichnung</th>
                <th>Farbe</th>
                <th>Bemerkungen</th>
                <th>Bearbeiten</th>
                <th>Löschen</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Kategorien kategorien in Model)
                {
                    <tr>
                        <td>@kategorien.Id</td>
                        <td>@kategorien.Bezeichnung</td>
                        <td>@kategorien.Farbe</td>
                        <td>@kategorien.Bemerkungen</td>
                        <td><a asp-route-id="@kategorien.Id" class="btn btn-warning" asp-controller="Kategorien" asp-action="CreateEditKategorie">bearbeiten</a></td>
                        <td><button onclick="onClickedDeleteButton(@kategorien.Id)" class="btn btn-danger">löschen</button></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>

        function onClickedDeleteButton(id) {
            Swal.fire({
                title: 'Möchtest du den Eintrag wirklich löschen? Achtung: Wenn die Kategorie Artikel hat werden diese und alles was diese Artikel beinhaltet ebenfalls gelöscht!',
                icon: 'error',

                showCloseButton: true,
                focusConfirm: false,
                confirmButtonText:
                    'Ja, löschen!',
            }).then((result) => {

                if (result.isConfirmed) {

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("DeleteById")",
                        data: { id: id },
                        success: function (msg) {

                            Swal.fire('Eintrag wurde gelöscht!', '', 'success').then((result) => {
                                location.reload();
                            });
                        },
                        error: function (msg) {
                            Swal.fire('UPS!', '', 'error')
                        }
                    });


                }
            })
        }
    </script>
}