@{
    ViewData["Title"] = "Lagerort";
}

<div class="text-center">
    <h1>Lagerort</h1>
</div>

<div class="container">
    <a class="btn btn-primary" asp-controller="Lagerort" asp-action="CreateEditLagerort">neuen Lagerort anlegen</a>
    <a class="btn btn-primary" asp-controller="Lagerort" asp-action="ExportToCSV">Lagerorte exportieren</a>
    <table id="LagerortTable" class="table table-bordered table-striped table-hover bg-light stripe">
        <thead>
            <tr>
                <th>Lagerort Nr.</th>
                <th>Bezeichnung</th>
                <th>Ort</th>
                <th>Bearbeiten</th>
                <th>Löschen</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Lagerort lagerorte in Model)
                {
                    <tr>
                        <td>@lagerorte.Id</td>
                        <td>@lagerorte.Bezeichnung</td>
                        <td>@lagerorte.Ort</td>
                        <td><a asp-route-id="@lagerorte.Id" class="btn btn-warning" asp-controller="Lagerort" asp-action="CreateEditLagerort">bearbeiten</a></td>
                        <td><button onclick="onClickedDeleteButton(@lagerorte.Id)" class="btn btn-danger">löschen</button></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>

        function onClickedDeleteButton(id) {
            Swal.fire({
                title: 'Möchtest du den Eintrag wirklich löschen? Achtung: Wenn der Lagerort Lagerplätze hat werden diese ebenfalls gelöscht!',
                icon: 'error',

                showCloseButton: true,
                focusConfirm: false,
                confirmButtonText:
                    'Ja, löschen!',
            }).then((result) => {

                if (result.isConfirmed) {

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("DeleteById")",
                        data: { id: id },
                        success: function (msg) {

                            Swal.fire('Eintrag wurde gelöscht!', '', 'success').then((result) => {
                                location.reload();
                            });
                        },
                        error: function (msg) {
                            Swal.fire('UPS!', '', 'error')
                        }
                    });


                }
            })
        }
    </script>
}