@{
    ViewData["Title"] = "Lagerplatz";
}

<div class="text-center">
    <h1>Lagerplatz</h1>
</div>

<div class="container-fluid">
    <p>
        <a class="btn btn-primary" asp-controller="Lagerplatz" asp-action="CreateEditLagerplatz">neuen Lagerplatz anlegen</a>
        <a class="btn btn-primary" asp-controller="Lagerplatz" asp-action="ExportToCSV">Lagerplätze exportieren</a>
        <a class="btn btn-primary" asp-controller="Lagerplatz" asp-action="ImportFromCSV">Lagerplätze importieren</a>
    </p>
    <table id="LagerplatzTable" class="table table-bordered table-striped table-hover bg-light stripe">
        <thead>
            <tr>
                <th>Lagerplatz Nr.</th>
                <th>Bezeichnung</th>
                <th>Lagerort ID</th>
                <th>Artikel ID</th>
                <th>Artikel Name</th>
                <th>Soll-Bestand</th>
                <th>Ist-Bestand</th>
                <th>Bemerkungen</th>
                <th>Bearbeiten</th>
                <th>Löschen</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Lagerplatz Lagerplatze in Model.Lagerplatz)
                {
                    <tr>
                        <td>@Lagerplatze.Id</td>
                        <td>@Lagerplatze.Bezeichnung</td>
                        <td>@Lagerplatze.LagerortID</td>
                        <td>@Lagerplatze.ArtikelID</td>

                        @foreach (Artikel artikel in Model.Artikel)
                        {
                            if (artikel.Id == Lagerplatze.ArtikelID)
                            {
                                <td>@artikel.Name</td>
                            }
                        }

                        <td>@Lagerplatze.Soll</td>
                        <td>@Lagerplatze.Ist</td>
                        <td>@Lagerplatze.Bemerkungen</td>
                        <td><a asp-route-id="@Lagerplatze.Id" class="btn btn-warning" asp-controller="Lagerplatz" asp-action="CreateEditLagerplatz">bearbeiten</a></td>
                        <td><button onclick="onClickedDeleteButton(@Lagerplatze.Id)" class="btn btn-danger">löschen</button></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#LagerplatzTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/German.json"
                },
                buttons: [
                    {
                        extend: 'searchBuilder',
                        config: {
                            depthLimit: 2
                        }
                    }
                ],
                dom: 'Bfrtip',
            });
        });

        function onClickedDeleteButton(id) {
            Swal.fire({
                title: 'Möchtest du den Eintrag wirklich löschen? Achtung: Wenn der Lagerplatz Artikel und Positionen hat werden diese ebenfalls gelöscht!',
                icon: 'error',

                showCloseButton: true,
                focusConfirm: false,
                confirmButtonText:
                    'Ja, löschen!',
            }).then((result) => {

                if (result.isConfirmed) {

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("DeleteById")",
                        data: { id: id },
                        success: function (msg) {

                            Swal.fire('Eintrag wurde gelöscht!', '', 'success').then((result) => {
                                location.reload();
                            });
                        },
                        error: function (msg) {
                            Swal.fire('UPS!', '', 'error')
                        }
                    });


                }
            })
        }
    </script>
}