@{
    ViewData["Title"] = "Auftragspositionen";
}

<div class="text-center">
    <h1>Auftragspositionen</h1>
</div>

<div class="container-fluid">
    <p>
        <a class="btn btn-primary" asp-controller="Position" asp-action="CreateEditPosition">neue Position anlegen</a>
        <a class="btn btn-primary" asp-controller="Position" asp-action="ExportToCSV">Auftragspositionen exportieren</a>
        <a class="btn btn-primary" asp-controller="Position" asp-action="ImportFromCSV">Auftragspositionen importieren</a>
    </p>
    <table id="PositionTable" class="table table-bordered table-striped table-hover bg-light stripe">
        <thead>
            <tr>
                <th>Position Nr.</th>
                <th>Auftrags ID</th>
                <th>Auftrags Bemerkungen</th>
                <th>Positions Nummer</th>
                <th>Artikel ID</th>
                <th>Artikel Name</th>
                <th>Menge</th>
                <th>Lagerplatz</th>
                <th>Seriennummer</th>
                <th>MAC-Adresse</th>
                <th>Bemerkungen</th>
                <th>Bearbeiten</th>
                <th>Löschen</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Positionen Position in Model.Position)
                {
                    <tr>
                        <td>@Position.Id</td>
                        <td>@Position.AuftragsID</td>

                        @foreach (Auftrag auftrag in Model.Auftrag)
                        {
                            if (auftrag.Id == Position.AuftragsID)
                            {
                                <td>@auftrag.Bemerkungen</td>
                            }
                        }

                        <td>@Position.PositionsNummer</td>
                        <td>@Position.ArtikelID</td>

                        @foreach (Artikel artikel in Model.Artikel)
                        {
                            if (artikel.Id == Position.ArtikelID)
                            {
                                <td>@artikel.Name</td>
                            }
                        }

                        <td>@Position.Menge</td>

                        @foreach (Lagerplatz lagerplatz in Model.Lagerplatz)
                        {
                            if (lagerplatz.Id == Position.LagerplatzID)
                            {
                                <td>@lagerplatz.Bezeichnung</td>
                            }
                        }

                        <td>@Position.SerienNummer</td>
                        <td>@Position.MACAdresse</td>
                        <td>@Position.Bemerkungen</td>

                        @foreach (Auftrag auftrag in Model.Auftrag)
                        {
                            if (auftrag.Id == Position.AuftragsID)
                            {
                                if (auftrag.Gebucht == false)
                                {
                                    <td><a asp-route-id="@Position.Id" class="btn btn-warning" asp-controller="Position" asp-action="CreateEditPosition">bearbeiten</a></td>
                                    <td><button onclick="onClickedDeleteButton(@Position.Id)" class="btn btn-danger">löschen</button></td>
                                }
                                else
                                {
                                    <td class="text-danger">bearbeiten gesperrt!</td>
                                    <td class="text-danger">löschen gesperrt!</td>
                                }
                            }
                        }                        
                        
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#PositionTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/German.json"
                },                
                buttons: [
                    {
                        extend: 'searchBuilder',
                        config: {
                            depthLimit: 2
                        }
                    }
                ],
                dom: 'Bfrtip',
            });
        });

        function onClickedDeleteButton(id) {
            Swal.fire({
                title: 'Möchtest du den Eintrag wirklich löschen?',
                icon: 'error',

                showCloseButton: true,
                focusConfirm: false,
                confirmButtonText:
                    'Ja, löschen!',
            }).then((result) => {

                if (result.isConfirmed) {

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("DeleteById")",
                        data: { id: id },
                        success: function (msg) {

                            Swal.fire('Eintrag wurde gelöscht!', '', 'success').then((result) => {
                                location.reload();
                            });
                        },
                        error: function (msg) {
                            Swal.fire('UPS!', '', 'error')
                        }
                    });


                }
            })
        }
    </script>
}